<h1>
  <% if @question.resolved %>
    <span class="glyphicon glyphicon-ok">&thinsp;</span>
  <% end %>
  <%= @question.title %>
</h1>

<div class="row">
  <div class="col-md-8">
    <p><%= @question.body %></p>
  </div>
  <div class="col-md-4">
    <%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success' %>
    <%= link_to "Delete", @question, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this question?' } %>
  </div>
</div>
