<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; chartset=UTF-8" http-equiv="content-type" />
  </head>

  <body>
    <h1>You just posted "<%= @post.title %>"</h1>
    <p>
      <%= @post.body %>
    </p>
    <p>
      <%= link_to "View post on site", topic_post_url(@post.topic, @post) %>
    </p>
  </body>
</html>
