// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.social-btn {
  display: block;
  margin-top: 30px;
  font-size: 1.2rem;
  height: 30px;
  line-height: 30px;
  width: 120px;
  color: white;
  background-color: #3b5988;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

    &:hover {
      text-decoration: none;
      color: white;
      background-color: #2f4779;
    }
}
